html,
body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    background: rgb(99, 90, 255);
    background: linear-gradient(135deg, rgba(99, 90, 255, 1) 0%, rgba(67, 60, 173, 1) 33%, rgba(0, 212, 255, 1) 100%);
}

.name {
    margin-bottom: 2px;
    text-align: center;
}



.wrapper {
    background: powderblue;
    max-width: 50%;
    display: flex;
    flex-direction: row;
    height: 80%;
    border-radius: 12px;
}

.bio,
.links {
    margin: 5px;
    max-width: 50%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bio {
    align-items: center;
    justify-content: center;
}

.links {
    list-style: none;
    padding-left: 0px;
    font-size: 18px;
}

.links li {
    display: inline-block;
    margin-right: 8px;
}

.links a {
    text-decoration: none;
    padding: 4px;
    color: rgb(76, 0, 255);
}

.links a:hover {
    background-color: rgba(0, 0, 0, 0.1);
}