/*general style*/

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: #9cebf5;
}

body {
    background-color: #00214c;
}

a {
    text-decoration: none;
        color: #e289bb;
}

header,
main,
footer {
    background-color: #2352b0;
    margin: 25px 5%;
    padding: 25px 40px;
    text-align: center;
    box-shadow: 0px 0px 10px #000000;
    border-radius: 10px;
}

h1 a {
    color: #9cebf5;
}

h2{
    margin-bottom: 25px;
}

h3 {
    text-align: center;
    margin-bottom: 25px;
}

p {
    text-align: justify;
}

hr {
    margin: 25px 5px;
}

img {
    width: 350px;
    max-width: 100%;
    height: auto;
    float: left;
    margin: 0px 25px 25px 0px;
    object-fit: contain;
}

ul {
    list-style: none;
}

.menu {
    height: 2.5em;
}

.menu span {
    display: inline-block;
    margin: 5px 2.5px;
    width: 7.5em;
    height: 2.5em;
    background-color: #4c22b6;
    border-radius: 5px;
    box-shadow: 0px 0px 5px #383838;
    vertical-align: middle;
    line-height: 2.5em;
}

.menu span.long-item {
    line-height: normal;
}


/*home specific style*/

.about-me p {
    line-height: 22px;
    margin-bottom: 25px;
    min-height: 128px;
    padding-left: 5%;
    padding-right: 5%;
}

.links {
    width: 50em;
    max-width: 100%;
    text-align: center;
    margin: auto;
}

.links li {
    display: inline-block;
    margin: 5px;
    line-height: 35px;
    width: 14em;
    border-radius: 5px;
    box-shadow: 0px 0px 3px #383838;
    font-size: 16px;
}

#github {
    background-color: #484848;
}

#yt {
    background-color: #9e2020;
}

#ttv {
    background-color: #6f15ac;
}

#osu {
    background-color: #dd6bdb;
}

#sphere {
    background-color: #3c88fd;
}

#tachi {
    background-color: #527acc;
}

#mastodon {
    background-color: #3088d4;
}

/*projects specific style*/

.project {
    background-color: #274e9a;
    margin: 25px 0.5%;
    padding: 25px;
    box-shadow: 0px 0px 5px #383838;
    border-radius: 10px;
    min-height: 220px;
}

.project div {
    text-align: justify;
}

.proj-link {
    margin-top: 1em;
}

.proj-link a {
    background-color: #6541c1;
    border-radius: 5px;
    box-shadow: 0px 0px 5px #383838;
    padding: 10px 15px;
    color: #9cebf5;
}

.project hr {
    margin: 15px;
}

/*rhythm games specific style*/

.game {
    vertical-align: top;
    display: inline-block;
    background-color: #274e9a;
    width: 300px;
    max-width: 75%;
    margin: 10px;
    padding: 25px;
    box-shadow: 0px 0px 5px #383838;
    border-radius: 10px;
    line-height: 20px;
}